
.row_flex {

    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 50px !important;
    height: 50px !important;
    padding: 0 !important;
    text-align: center;
}

.form-control {

    outline: 1px solid;

}

.row_flex:first-child > .form-control {

    border-top: 4px solid;

}

.row_flex:nth-child(4) > .form-control {

    border-top: 4px solid;

}

.row_flex:nth-child(7) > .form-control {

    border-top: 4px solid;

}

.row_flex:last-child > .form-control {

    border-bottom: 4px solid;

}

.row_flex > .form-control:nth-child(3n) {

    border-right: 4px solid;

}

.row_flex > .form-control:first-child {

    border-left: 4px solid;

}

input {
    font-size: 2rem !important;
}

.bottom_row {

    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 50%;
    transform: translate(-50%);
}